.nenu-logo-empresa{
  text-align: center;
}
.menu-logo-empresa > img{
  height: auto;
  max-width: 100%;
  max-height: 100px;
}

.tab-content .dataTables_wrapper{
  padding: 0 !important;
}

.icons-box.icons-folder{
  text-align: center;
}
.icons-box.icons-folder .infont i{
  font-size: 45px;
}
.icons-box.icons-folder .infont p{
  color: #676a6c;
}

.file.file-options .icon{
  overflow: visible;
}

.ibox-tools a.btn{
  color: #fff !important;
}
.text-primary{
  color: #1ab394 !important;
}

/*
  Ocultar elementos en la vista de impresion
 */
@media print{
  .no-print,
  .wrapper-heading{
    display: none !important;
  }
  #page-wrapper{
    width: 100% !important;
  }
}

/*
  Igualar borde al resto de los inputs
 */
.select2-container--bootstrap4 .select2-selection{
  border-radius: 0;
}

.form-control::placeholder{
  opacity: .7;
}
