    .menu-logo-empresa > img{
  height: auto;
  max-width: 100%;
  max-height: 100px;
}

.tab-content .dataTables_wrapper{
  padding: 0 !important;
}

.icons-box.icons-folder{
  text-align: center;
}
.icons-box.icons-folder .infont i{
  font-size: 45px;
}
.icons-box.icons-folder .infont p{
  color: #676a6c;
}

.file.file-options .icon{
  overflow: visible;
}

.ibox-tools a.btn{
  color: #fff !important;
}
.ibox-tools a.btn.btn-default{
  color: #666 !important;
}
.text-primary{
  color: #1ab394 !important;
}

/*
  Ocultar elementos en la vista de impresion
 */
@media print{
  .btn,
  .no-print,
  .wrapper-heading{
    display: none !important;
  }
  #page-wrapper{
    width: 100% !important;
  }
}

/*
  Igualar borde al resto de los inputs
 */
.custom-file-label,
.custom-file-label:after,
.select2-container--bootstrap4 .select2-selection,
.custom-select{
  border-radius: 0 !important;
}
.custom-select{
  line-height: 1.2;
  border: 1px solid #e5e6e7;
  font-size: 0.9rem;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.custom-select:focus{
  border-color: #1ab394 !important;
  box-shadow: none;
  color: #495057;
}

/* Igualar apariencias de las flechas de .select2 y .custom-select */
.select2-selection__arrow,
.custom-select{
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}
.select2-selection__arrow{
  top: 40% !important;
  height: 10px;
}
.select2-selection__arrow > b{
  display: none;
}

.form-control::placeholder{
  opacity: .7 !important;
}

.file .file-name{
  word-wrap: break-word;
}

/* Custom check with error */
.custom-checkbox.has-error .custom-control-label:before,
.has-error .custom-checkbox,
.has-error .custom-select,
.has-error .custom-select:focus{
  border-color: #ed5565 !important;
}
/* Igualar apriencia al resto de los inputs */
.custom-file-label,
.custom-file-label:after{
  overflow: hidden;
}
.custom-file-label{
  color: rgba(108, 117, 125, .7) !important;
  border: 1px solid #e5e6e7 !important;
}

/* Igualar tamaño a los input-sm*/
.custom-file-input.input-sm ~ .custom-file-label,
.custom-file-input.input-sm ~ .custom-file-label:after{
  padding: 6px 12px !important;
}
.custom-file-input.input-sm ~ .custom-file-label:after{
  height: calc(1.3em + .75rem) !important;
}
.custom-file-input.input-sm ~ .custom-file-label{
  height: calc(1.3em + .75rem + 2px) !important;
}

.notification-description{
  margin: 0;
  line-height: 1.5;
}

.hover-pointer:hover,
.main-expiration-clocks:hover{
  cursor: pointer;
}
.main-expiration-clocks i{
  font-size: 32px;
}
.main-expiration-clocks p{
  font-size: 16px;
}

/* Fix de color hover de success */
a.text-primary:focus, a.text-primary:hover {
  color: #19692c !important;
}

.accordion > .card{
  border-radius: 0;
}
.accordion > .card:first-of-type:last-of-type{
  border: 1px solid rgba(0,0,0,.125) !important;
}

.collapsable-tabs{
  position: relative;
  padding-right: 40px;
  clear: both;
}
.collapsable-tabs .ibox-tools{
  top: 10px;
}

/* Arreglar color de enlaces en los dropdown dentro de ibox-tools */
.ibox-tools .dropdown-item{
  color: #212529 !important;
}

/* Titulos en los section de los formularios */
.form-legend{
  line-height: 3rem;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-bottom: 20px;
  border-bottom: 1px solid #6c757d;
}

.copy-clipboard:hover{
  cursor: pointer;
}

.ibox.ibox-with-footer .ibox-footer{
  border: 1px solid #e7eaec;
  border-top: none;
}
.ibox-content .list-group .list-group-item{
  word-break: break-word;
  word-wrap: break-word;
}

.terms-banner{
  background-color: #333;
  color: #fff;
  z-index: 3000;
}

.btn-covid19{
  left: auto;
  right: 20px;
  bottom: 20px;
  z-index: 3001;
}
