
.list-group-unbordered > .list-group-item{
  border-bottom: 0;
  clear: both;
}
.list-group-unbordered > .list-group-item:last-child{
  border-bottom: 1px solid #ddd;
}
.list-group-item > span.pull-right{
  word-wrap: break-word;
}

.info-box .btn-group{
  display: none;
  position: absolute;
  top: 0;
  right: 15px;
}
.info-box:hover .btn-group{
  display: block;
}
.dropdown-menu > li > a[type='button']:hover{
  cursor: pointer;
}

.clickableEvent:hover{
  cursor: pointer;
}

.table-anticipos td{
  border-top: 1px solid #bbb !important;
}
.table-anticipos td > p{
  margin: 5px 0 0 0;
}
.table-anticipos td > .form-group
.table-anticipos td > .form-control,{
  margin-bottom: 0;
}

.checkbox > label.container-checkbox{
  margin-top: 0px !important;
}

/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input[type="checkbox"] ~ .checkmark-check {
  background-color: #bbbb;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input[type="checkbox"]:checked ~ .checkmark-check {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input[type="checkbox"]:checked ~ .checkmark-check:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-check:after {
  left: 9px;
  top: 3px;
  width: 9px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.has-error .container-checkbox .checkmark-check{
  background-color: #dd4b39 !important;
}